.contents { width: 1180px; margin: 0 auto; }
.h2 { position: relative; padding: 55px 0 53px; font-size: 36px; color: #222; line-height: 100%; text-align: center; font-weight: normal; }
.h2:after { content: ""; position: absolute; left: 50%; bottom: 0; width: 50px; height: 1px; background: #aaa; transform: translateX(-50%); }
.h2 + p { font-size: 18px; color: #666; text-align: center; line-height: 30px; padding: 46px 0 54px; }

.noti { font-size: 14px; color: 888; margin-bottom: 30px; }
.noti:before { content: ""; display: inline-block; margin: 0 3px 0 0; width: 15px; height: 15px; background: url(../image/icon.png) no-repeat -336px -5px; vertical-align: -3px;}

/* 회원가입 */

.step { display: flex; border-top: 1px solid #aaa; border-bottom: 1px solid #aaa; }
.step li { flex: 1; position: relative; padding: 22px 0; font-size: 11px; color: #a5a5a5; text-align: center; line-height: 100%; }
.step li:after { content: ""; position: absolute; right: 0; top: 50%; width: 12px; height: 19px; transform: translate(-50%, -50%); background: url(../image/icon.png) no-repeat -304px -58px; }
.step li:last-child:after { display: none; }
.step li div { padding: 8px 0 0; font-size: 18px; color: #a5a5a5;}
.step li.on { color: #222;}
.step li.on div { color: #00ade8; }

.join_box1 { margin: 50px 0 32px; padding: 40px 0 0; height: 402px; background: url(../image/bg_msgbox01.png) no-repeat 0 0, url(../image/bg_msgbox02.png) no-repeat right bottom; background-color: #e4e8f1; text-align: center; box-sizing: border-box; }
.join_box1 h3 { position: relative; padding: 86px 0 37px; font-size: 24px; color: #222; background: url(../image/ico_member_join05.png) no-repeat center top; }
.join_box1 h3:after { content: ""; position: absolute; left: 50%; bottom: 0; width: 50px; height: 1px; background: #aaa; transform: translateX(-50%); }
.join_box1 p { padding: 37px 0 57px; font-size: 14px; color: #888; }
.join_box1 a { display: inline-block; width: 145px; height: 45px; text-align: center; line-height: 45px; color: #fff; font-size: 13px; background: #042e6f; }
