table.type1 { border-top: 2px solid #042e6f; border-bottom: 1px solid #999; }
table.type1 th,
table.type1 td { height: 40px; border-top: 1px solid #ccc; border-left: 1px solid #ccc; }
table.type1 th:first-child { border-left: none; }
table.type1 tr:first-child th,
table.type1 tr:first-child td { border-top: none; }
table.type1 th { padding: 10px 10px 10px 45px; text-align: left; font-weight: normal; font-size: 13px; color: #222; }
table.type1 th span { overflow: hidden; display: inline-block; margin-left: 0 6px 0 -14px; width: 8px; height: 7px; background: url(../image/icon.png) no-repeat -534px -5px; color: transparent; vertical-align: 2px;}
table.type1 td { padding: 10px 55px; font-size: 13px; color: #777; }
table.type1 td input[type="text"],
table.type1 td input[type="tel"],
table.type1 td input[type="number"] { border: 1px solid #ccc; height: 38px; line-height: 38px; padding: 0 20px; box-sizing: border-box; color: #777; }
table.type1 .info:before { content: ""; display: inline-block; margin: 0 5px 0 13px; vertical-align: -2px; width: 15px; height: 14px; background: url(../image/icon.png) no-repeat -336px -5px;}
table.type1 td > div { padding: 10px 0 0;}
table.type1 td > div:first-child { padding: 0;}
table.type1 td .btn_type3 { margin-left: 5px; }