#visual{
    position: relative;
    height: 340px;
    background: url(../image/common/bg_visual1.png) no-repeat center top;
}

#visual:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 59px;
    border-top: 1px solid #070f08;
    background: rgba(0,0,0,0.3);
}

#visual > div{
    position: relative;
    width: 1200px;
    height: 340px;
    margin: 0 auto;
}

#visual > div > p{
    padding: 112px;
    text-align: center;
    color: #fff;
    font-size: 35px;
}

#visual > div > p span{
    display: block;
    font-family: 'russell_squareregular';
    font-size: 18px;
}

#visual > div > p em{
    position: relative;
    display: inline-block;
    font-family: 'russell_squareregular';
}

#visual > div > p ins{
    display: inline-block;
    width: 37px;
    height: 11px;
    background: url(../image/common/ico_arrow.png) no-repeat center;
    font-size: 0px;
    color: transparent;
    vertical-align: middle;
}

#visual > div .left{
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 2;
}

#visual > div .left > a{
    display: block;
    float: left;
    width: 60px;
    height: 60px;
    background: url(../image/common/ico_home.png) no-repeat center #dc300a;
    font-size: 0px;
    color: transparent;

}

#visual > div .left ul{
    float: left;
}

#visual > div .left ul li{
    float: left;
}

#visual > div .left ul li a{
    display: block;
    width: 171px;
    height: 60px;
    color: #fff;
    border-right: 1px solid #0f1013;
    font-size: 18px;
    line-height: 60px;
    text-indent: 20px;
}

#visual > div .left ul li.ico1 a{
    background: url(../image/common/ico_bar.png) no-repeat 142px center;
}

#visual > div .left ul li.ico2 a{
    background: url(../image/common/ico_arrow2.png) no-repeat 142px center;
}

#visual > div .right{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
}

#visual > div .right > ul{
    border-right: 1px solid #1d1c1d;
}

#visual > div .right > ul:after{
    content: "";
    display: block;
    clear: both;
}

#visual > div .right > ul > li{
    float: left;
}

#visual > div .right > ul > li > a{
    display: block;
    width: 59px;
    height: 59px;
    border-left: 1px solid #1d1c1d;
    color: transparent;
}

#visual > div .right > ul > li.ico1 > a{
    background: url(../image/common/ico_fav.png) no-repeat center;
}

#visual > div .right > ul > li.ico2 > a{
    background: url(../image/common/ico_share.png) no-repeat center;
}

#visual > div .right > ul > li.ico3 > a{
    background: url(../image/common/ico_print.png) no-repeat center;
}

#visual > div .right > ul li:hover ul{
    display: block;
}

#visual > div .right li ul{
    position: absolute;
    display: none;
}

#visual > div .right li ul a{
    display: block;
    width: 61px;
    height: 50px;
    background: no-repeat center #4d4d4d;
    color: transparent;
    border-bottom: 1px solid #000;
}

#visual > div .right li ul a.ico2_1{
    background-image: url(../image/common/ico_sns1.png);    
}

#visual > div .right li ul a.ico2_2{
    background-image: url(../image/common/ico_sns2.png);
}

#visual > div .right li ul a.ico2_3{
    background-image: url(../image/common/ico_sns3.png);
}

#visual > div .right li ul a.ico2_1:hover{
    background-color: #4b65b9;
}

#visual > div .right li ul a.ico2_2:hover{
    background-color: #55acef;
}

#visual > div .right li ul a.ico2_3:hover{
    background-color: #5fb314;
}

#container{
    width: 1200px;
    margin: 0 auto;
}

#container #snb{
    float: left;
    padding: 30px 29px 0 0;
    width: 230px;
}

#container #snb h2{
    padding: 49px 0 0;
    height: 91px;
    background: #333f52;
    font-size: 21px;
    color: #fff;
    font-weight: normal;
    text-align: center;
}

#container #snb h2 span{
    display: block;
    color: #8f939b;
    font-size: 12px;
    padding: 13px 0 0;
}

#container #snb li a{
    display: block;
    position: relative;
    height: 53px;
    border-bottom: 1px solid #8f939b;
    line-height: 53px;
    text-indent: 25px;
    color: #303030;
}

#container #snb li a:hover{
    color: #1354bb;
    text-indent: 61px;
}

#container #snb li a:hover:after{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 45px;
    height: 54px;
    background: url(../image/common/bg_snb.png) no-repeat center #1354bb;
}

#container #contents{
    float: left;
    padding: 65px 0 79px 60px;
    width: 880px;
    border-left: 1px solid #e0e0e0;
}

#container #contents .h2{
    font-size: 34px;
    color: #000;
}

#container #contents .h3{
    padding: 50px 0 31px;
    background: url(../image/sub/bu_h3.gif) no-repeat 0 53px;
    font-size: 20px;
    color: #010101;
    text-indent: 32px;
    line-height: 100%;
}

#container #contents .info{
    margin: 74px 0 0;
    padding: 406px 0 0;
    background: url(../image/sub/bg_visual.jpg) no-repeat;
    font-size: 15px;
    color: #434343;
    line-height: 24px;
    letter-spacing: 1px;
}

#container #contents .step{
    border-top: 2px solid #d4d4d4;
    border-bottom: 1px solid #ddd;
}

#container #contents .step li{
    float: left;
    position: relative;
    padding: 37px 0 29px;
    width: 20%;
    text-align: center;
    font-size: 14px;
    color: #3c3c3d;
    line-height: 22px;
}

#container #contents .step li:after{
    content: "";
    display: block;
    position: absolute;
    left: -13px;
    top: -5px;
    width: 50px;
    height: 10px;
    background: url(../image/sub/bg_arrow.png) no-repeat center #fff;
}

#container #contents .step li:first-child:after{
    display: none;
}

#container #contents .step li strong{
    display: block;
    padding: 0 0 11px;
    font-size: 16px;
    color: #5b677a;
    line-height: 100%;
}

#container #contents .highway_ing{
    padding: 0 0 22px;
    border-top: 1px solid #a1a6b0;
    border-bottom: 1px solid #ddd;
}

#container #contents .highway_ing li:first-child{
    float: none;
    margin: 0 0 22px;
    width: 100%;
    border-bottom: 1px solid #ddd; 
    text-align: center;
}

#container #contents .highway_ing li:first-child:after{
    content: "";
    display: block;
    clear: both;
}

#container #contents .highway_ing li:first-child div{
    position: relative;
    padding: 0 0 0 95px;
    height: auto;
    border: none;
}

#container #contents .highway_ing li:first-child h4,
#container #contents .highway_ing li:first-child span{
    height: 75px;
    line-height: 75px;
    
}

#container #contents .highway_ing li:first-child h4{
    width: 95px;
    position: absolute;
    left: 0;
    top: 0;
}

#container #contents .highway_ing li:first-child span{
    display: block;
    font-size: 18px;
}

#container #contents .highway_ing li{
    float: left;
    width: 25%;
}

#container #contents .highway_ing li > div{
    padding: 10px 40px 0 30px;
    height: 80px;
    border-left: 1px solid #ddd;
    color: #525a69;
    line-height: 100%;
}

#container #contents .highway_ing li > div div{
    padding-top: 11px;
    font-size: 14px;
    letter-spacing: -1px;
}

#container #contents .highway_ing li > div h4{
    padding: 0 0 7px;
}

#container #contents .highway_ing li:first-child + li> div{
    border-left: none;
}

#container #contents .highway_ing li h4{
    font-size: 15px;
    color: #000;
}

#container #contents .highway_ing li > div span{
    font-size: 29px;
    font-weight: bold;
}

#container #contents .highway_ing li em{
    padding: 0 0 0 7px;
    font-size: 15px;
}

table.type1 tr:first-child th,
table.type1 tr:first-child td{
    border-top: 1px solid #a1a6b0;
}

table.type1 th,
table.type1 td{
    border-top: 1px solid #ddd;
}

table.type1 th{
    padding: 28px 0 23px 44px;
    font-size: 16px;
    color: #3b3a3a;
    text-align: left;
    font-weight: normal;
}

table.type1 td{
    padding: 28px 0 23px;
    font-size: 14px;
    color: #565757;
}

#line{
    border-bottom: 1px solid #c0c0c0;
}