#banner{ 
    height: 160px; 
    background: #0e3c84; 
}
#banner > div{ 
    position: relative; 
    width: 1200px; 
    margin: 0 auto; 
    text-align: center; 
}
#banner .prev,
#banner .next,
#banner .control,
#banner .close{ 
    position: absolute; 
}
#banner .prev{ 
    left: 0; 
    top: 42px; 
}
#banner .next{ 
    right: 0; 
    top: 42px; 
}
#banner .control{ 
    left: 0; 
    bottom: 11px; 
    font-size: 0;
}
#banner .control a{ 
    padding: 0 15px 0 0;
}
#banner .close{ 
    right: 0; 
    bottom: 4px; 
}
#banner .close label{ 
    padding: 0 22px 0; 
    font-size: 11px; 
    color: #fff;
}

#header { 
    height: 99px; 
    border-bottom: 1px solid #c5c5c5; 
}
#header > div { 
    width: 1200px; 
    margin: 0 auto; 
}
#header > div > *{ 
    float: left; 
}

#header h1{ 
    padding: 0 20px 0 0; 
}
#header #lnb li{ 
    float: left; 
    padding: 0 16px; 
}
#header #lnb li a{ 
    display: block; 
    height: 99px; 
    line-height: 99px; 
    font-size: 16px; 
    font-weight: bold; 
    color: #333; 
}
#header #lnb li a:hover{ 
    height: 95px;
    background: url('../image/bg_lnb.gif') no-repeat center 87px;
    border-bottom: 4px solid #1764dc; 
    color: #3c91f3; 
}

#header p{
    float: left;
    height: 99px;
    line-height: 99px;
    font-size: 22px;
    font-weight: bold;
    color: #0e3c84;
}

#header p span{
    color: #1764dc;
}

#header > div > div{
    float: right;
}

#header > div > div > div{
    float: left;
    padding: 30px 0 0 11px;
    font-size: 0;
}

#header > div > div > div img{
    position: relative;
    top: -5px;
}

#header .btn_pop{
    display: inline-block;
    width: 75px;
    height: 40px;
    background: url(../image/bu_arrow_down.gif) no-repeat 55px center #2cc06b;
    font-size: 13px;
    color: #fff;
    line-height: 40px;
    text-indent: 9px;
}


#visual{
    background: url(../image/bg_visual.jpg) no-repeat center top;
}

#visual > div{
    width: 1200px; 
    margin: 0 auto;
}

#visual .copy{
    padding: 71px 0 0 0;
}

#visual .copy > div{
    float: left;
    width: 33.3%;
}

#visual .copy .txt1{
    font-size: 55px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 12px;
    padding: 127px 0 0 0;
}

#visual .copy .txt1 div{
    font-size: 33px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0;
}

#visual .copy .txt1 img{
    margin: 0 22px 0 8px;
}

#visual .copy .txt2{
    background: url(../image/bg_circle.png) no-repeat center;
    width: 394px;
    height: 264px;
    font-family: 'russell_squareregular';
    font-size: 20px;
    padding: 80px 0 0 0;
    color: #fff;
    text-align: center;
}

#visual .copy .txt2 div{
    font-family: 'russell_squareregular';
    font-size: 135px;
    color: #fff;
}

#visual .copy .txt3{
    float: right;
    width: 340px;
    color: #fff;
    font-family: 'russell_squareregular';
    text-align: center;
    font-size: 40px;
    letter-spacing: 15px;
    padding: 109px 37px 0 0;
}

#visual .copy .txt3 div{
    color: #fff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 7px;
}

#visual .paging{
    text-align: center;
    font-size: 0;
    padding: 27px 0 17px;
}

#visual .paging ul{
    display: inline-block;
    font-size: 0;
}

#visual .paging p{
    display: inline-block;
    margin: 0 7px;
}

#visual .paging li{
    margin: 0 7px;
    display: inline-block;
}

#visual .paging div{
    padding: 17px 0 0 0;
}

#visual .bottom h2{
    float: left;
    padding: 22px 0 0 0;
    width: 100px;
    height: 74px;
    background: #f13009;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

#visual .bottom .event{
    float: left;
    position: relative;
    padding: 0 80px;
    width: 730px;
    height: 96px;
    background: rgba(0,0,0,0.3);
}

#visual .bottom .event div{
    position: absolute;
    left: 38px;
    top: 15px;
    background: url(../image/bg_line.gif) no-repeat center 35px;
}

#visual .bottom .event div a{
    display: block;
    margin: 0 0 32px;
}

#visual .bottom .event ul{
    padding: 26px 0 0 0;
}


#visual .bottom .event li{
    float: left;
    width: 50%;
    
}

#visual .bottom .event li a{
    display: block;
    padding: 0 0 0 18px;
    font-size: 14px;
    color: #fff;
    background: url(../image/bu_circle.png) no-repeat left;
    line-height: 22px;
}

#visual .bottom .weather{
    float: right;
    position: relative;
    padding: 0 43px;
    width: 124px;
    height: 96px;
    background: #23b923;
}

#visual .bottom .weather h3{
    text-align: center;
    font-size: 15px;
    color: #fff;
    padding: 12px 0 9px;
}

#visual .bottom .weather > a{
    position: absolute;
    top: 50%;
    margin-top: -6.5px;
}

#visual .bottom .weather > a.left{
    left: 19px;
}

#visual .bottom .weather > a.right{
    right: 19px;
}

#visual .bottom .weather > div{
    position: relative;
    padding: 0 0 0 65px;
    font-size: 12px;
    color: #fff;
}

#visual .bottom .weather > div img{
    position: absolute;
    left: 9px;
    top: 0;
}

#visual .bottom .weather > div div{
    font-size: 22px;
    color: #fff;
    font-weight: bold;;
}


#traffic_box{
    background: url(../image/bg_traffic.jpg) no-repeat center top;
}

#traffic_box > div{
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

#traffic_box > div h2{
    font-size: 38px;
    padding: 70px 0 0 0;
    color: #fefefe;
    text-align: center;
}

#traffic_box > div .speed{
    width: 250px;
    height: 230px;
    margin: 35px auto 145px;
    background: url(../image/bg_circle2.png) no-repeat center top;
    text-align: center;
    color: #fff;
}

#traffic_box > div .speed div{
    color: #fff;
}

#traffic_box > div .speed div.t1{
    padding: 72px 0 20px;
    font-size: 14px;
    font-weight: bold;
    text-indent: 6px;
    letter-spacing: 10px;
}

#traffic_box > div .speed div.t2{
    font-size: 60px;
    font-family: 'russell_squareregular';
    line-height: 73%;
}

#traffic_box > div .speed div.t3{
    padding: 17px 0 0;
    font-size: 11px;
}

#traffic_box > div .left{
    position: absolute;
    left: 50px;
    top: 246px;
}

#traffic_box > div .right{
    position: absolute;
    right: 60px;
    top: 270px;
}

#traffic_box > div .left li{
    float: left;
    padding: 0 3px 0 0;
}

#traffic_box > div .left a{
    display: block;
    background: url(../image/bg_btn_tab.png) no-repeat left top;
    width: 105px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #fff;
}

#traffic_box > div .left a:hover,
#traffic_box > div .left li.on a{
    background-position: right top;
}

#traffic_box > div .graph{
    margin: 0 auto;
    width: 1052px;
}

#traffic_box > div .graph ul{
    padding: 98px 0 0 0;
}

#traffic_box > div .graph li{
    float: left;
    position: relative;
    width: 45px;
    padding: 0 0 0 80px;
    background: url(../image/bg_arrow.png) no-repeat 23px center;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

#traffic_box > div .graph li:first-child{
    background: none;
    padding-left: 0;
}

#traffic_box > div .graph li:first-child div{
    right: -33px;
}

#traffic_box > div .graph li > div{
    position: absolute;
    right: -63px;
    top: -197px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

#traffic_box > div .graph li > div strong{
    display: block;
    position: relative;
    font-size: 25px;
}

#traffic_box > div .graph li > div strong img{
    display: block;
    margin: 0 auto;
}

#traffic_box > div .graph li > div strong img + span{
    display: none;
    position: absolute;
    font-size: 11px;
    color: #fff;
    width: 215px;
    left: 29px;
    top: -22px; 
    padding: 8px;
    background: #023c84;
}

#traffic_box > div .graph li > div strong img:hover + span{
    display: block;
}

#traffic_box > div .next{
    text-align: center;
    padding: 37px 0 28px;
}

#safe{
    background: url(../image/bg_visual2.gif) no-repeat center top;
}

#safe > div{
    position: relative;
    width: 1120px;
    margin: 0 auto;
}

#safe > div h2{
    padding: 72px 0 36px;
    font-size: 38px;
    color: #123977;
    text-align: center;
}

#safe .list{
    border: 1px solid #ddd;
}

#safe .list li{
    float: left;
    position: relative;
    margin-left: -1px;
    width: 25%;
    border-left: 1px solid #ddd;
    text-align: center;
    background-position: center 50px;
    background-repeat: no-repeat;
}

#safe .list li h3{
    padding: 140px 0 16px;
    background: url(../image/bg_line2.gif) no-repeat center bottom;
    font-size: 19px;
    color: #333;
}

#safe .list li a{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    color: transparent;
}

#safe .list li div{
    padding: 19px 0 0;
    height: 85px;
    font-size: 13px;
    color: #777;
    line-height: 18px;
}

#safe .list li.bg1{
    background-image: url(../image/bg_ico_off1.png);
}

#safe .list li.bg2{
    background-image: url(../image/bg_ico_off2.png);
}

#safe .list li.bg3{
    background-image: url(../image/bg_ico_off3.png);
}

#safe .list li.bg4{
    background-image: url(../image/bg_ico_off4.png);
}

#safe .list li:hover{
    background-color: #1660d4;
}

#safe .list li:hover h3,
#safe .list li:hover div{
    color: #fff;
}

#safe .list li.bg1:hover{
    background-image: url(../image/bg_ico_on1.png);
}

#safe .list li.bg2:hover{
    background-image: url(../image/bg_ico_on2.png);
}

#safe .list li.bg3:hover{
    background-image: url(../image/bg_ico_on3.png);
}

#safe .list li.bg4:hover{
    background-image: url(../image/bg_ico_on4.png);
}

#safe .news{
    padding: 40px 0 0;
}

#safe .news > div{
    float: right;
    width: 530px;
}

#safe .news > div:first-child{
    float: left;
}

#safe .news h3{
    padding: 0 0 21px;
    font-size: 22px;
    color: #333;
}

#safe .news li {
    position: relative;
    padding: 0 0 0 100px;
    height: 74px;
}

#safe .news li a{
    display: block;
    height: 74px;
    line-height: 74px;
    border-bottom: 1px solid #ececec;
}

#safe .news li a img{
    position: relative;
    top: -2px;
}

#safe .news li span{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    height: 74px;
    border-bottom: 1px solid #ececec;
    text-align: center;
    font-size: 13px;
    color: #888;
}

#safe .news li span strong{
    padding: 20px 0 0 0;
    display: block;
    font-size: 21px;
    color: #1e62cc;
}
#safe .next{
    padding: 35px 0 20px;
    text-align: center;
}